<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/fontawesome-all.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui-flex.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <style>
    #page {
      padding-top: 7rem;
      padding-bottom: 60px;
    }
    .weui-cells {
      margin-top: 1rem;
    }
    .weui-cells:nth-child(1) {
      margin-top: 0;
    }
    .fwb{
      font-weight: bold;
    }
    </style>
</head>

<body>
  <div id="page">
    <v-header title="变更申报" back></v-header>
    <div class="form">
      <div class="weui-cells">
        <v-input label="*变更名称" v-model="form.changeName"></v-input>
        <v-text label="变更类型" v-model="changeType[form.changeType]"></v-text>
        <!-- <v-input label="变更类型" v-model="changeType[form.changeType]" disabled></v-input> -->
        <!-- <v-select label="变更类型" :options="changeType_list" v-model="form.changeType"></v-select> -->
        <v-select label="*变更原因" :options="changeReason_list"
          v-model="form.changeReason"></v-select>
        <v-select label="*是否重大变更" :options="majorChange_list"
          v-model="form.majorChange"></v-select>
        <!-- <v-select label="*是否事前变更" :options="preChange_list"
          v-model="form.preChange" getlabel></v-select> -->
        <v-date label="*实施日期" v-model="form.implementationDate"></v-date>
      </div>
      <div class="weui-cells">
        <v-upload :filelist="form.file" :imagelist="form.image"></v-upload>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd">变更明细</div>
        </div>
        <v-select1 label="*合同名称" v-model="contractDetail[0].contractName"
          @select="selectContract"></v-select1>
        <v-input type="number" label="*申报金额" v-model="contractDetail[0].applyAmount"></v-input>
        <v-textarea label="*变更内容" v-model="contractDetail[0].changeContent"></v-textarea>
      </div>
    </div>
    <div class="btn" @click="submit">提交</div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js"
  id="entry" data-path="M/Process/changeReport.js"></script>

</html>