<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>

<body>
  <div id="page" v-cloak>
    <v-header title="变更完工证明" back></v-header>
    <div class="form">
      <div class="weui-cells">
        <v-input label="指令单编号" v-model="info.number"
          disabled></v-input>
      </div>
      <div class="weui-cells">
        <v-text label="合同名称" :value="info.contractName"></v-text>
        <v-text label="合同编号" :value="info.contractNo"></v-text>
      </div>
      <div class="weui-cells">
        <v-text label="施工单位名称" :value="info.supplierName"></v-text>
        <v-text label="施工单位申报总额" :value="info.amount"></v-text>
      </div>
      <div class="weui-cells">
        <v-textarea label="*变更完成情况" v-model="info.completion"
          disabled></v-textarea>
      </div>
      <v-attach :imagelist="info.image" :filelist="info.file"></v-attach>
      <!-- <v-attach title="完工证明" :filelist="info.doc" ></v-attach> -->
      <v-subform title="工程量明细" description="(注: 以下仅适用于项目较少的情况，若项目较多，请直接上传附件)"
        :child-form="childForm" add-content="增加工作量明细" @blur="blur"
        :minlength="minlength" :maxlength="maxlength"></v-subform>
      <div class="weui-cells">
        <v-textarea label="意见" v-model="form.opinion"></v-textarea>
        <!-- <v-upload :imagelist="form.image" :filelist="form.file"></v-upload> -->
      </div>
      <div class="btn_wrap" v-show="param.type == 'doneCertifyApproval' || param.type == 'doneCertifyApproval2'">
        <div class="btn" @click="submit">审核</div>
      </div>
      <div class="btn_wrap" v-show="param.type == 'doneCertifyApproval1' || param.type == 'doneCertifyApproval3'">
        <div class="btn" @click="agree">同意</div>
        <div class="btn" @click="disagree">不同意</div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js"
  id="entry" data-path="M/Process/doneCertifyCheck.js"></script>
<style>
  #page {
    padding-top: 7rem;
    padding-bottom: 60px;
  }

  .weui-cells {
    margin-top: 1rem;
  }

  .weui-cells:first-child {
    margin-top: 0;
  }

  .subformComponent {
    margin-top: 0.5rem;
  }

  .btn_wrap {
    margin-top: 3rem;
  }

  .btn:nth-child(2) {
    margin-top: 1rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #e5e5e5;
  }
</style>

</html>