<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>

<body>
  <div id="page">
    <v-header title="变更完工证明" back></v-header>
    <div class="form">
      <div class="weui-cells">
        <v-input label="指令单编号" disabled v-model="certifyDetail.number"></v-input>
      </div>
      <div class="weui-cells">
        <v-text label="合同名称" :value="certifyDetail.contractName"></v-text>
        <v-text label="合同编号" :value="certifyDetail.contractNo"></v-text>
      </div>
      <div class="weui-cells">
        <v-text label="施工单位名称" :value="certifyDetail.supplierName"></v-text>
        <v-text label="施工单位申报总额" :value="certifyDetail.amount"></v-text>
      </div>
      <div class="weui-cells">
        <v-textarea label="*变更完成情况" v-model="form.content"></v-textarea>
      </div>
      <v-subform title="工程量明细" description="(注: 以下仅适用于项目较少的情况，若项目较多，请直接上传附件)"
        :child-form="childForm" add-content="增加工作量明细"
        maxlength="99" @blur="blur"></v-subform>

      <v-upload :filelist="form.file" :imagelist="form.image"></v-upload>

      <div class="btn" @click="submit">提交</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js"
  id="entry" data-path="M/Process/doneCertify.js"></script>
<style>
  #page {
    padding-top: 7rem;
    padding-bottom: 60px;
  }

  .weui-cells {
    margin-top: 1rem;
  }

  .weui-cells:first-child {
    margin-top: 0;
  }
</style>

</html>