<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>

<body>
  <div id="page" v-cloak>
    <v-header title="完工确认" back></v-header>

    <div class="weui-cells form">
      <v-text label="合同名称" v-model="form.contractName"></v-text>
      <v-text label="变更内容" v-model="form.changeContent"></v-text>
    </div>

    <div class="weui-cells form">
      <v-text label="变更名称" v-model="form.changeName"></v-text>
      <v-text label="变更类型" v-model="form.changeType"></v-text>
      <v-text label="变更原因" v-model="form.changeReason"></v-text>
      <v-text label="是否重大变更" v-model="form.majorChange"></v-text>
    </div>

    <div class="weui-cells form">
      <v-input type="number" label="*施工单位申报总额" v-model="form.applyAmount" disabled></v-input>
      <v-input type="number" label="*确认金额" v-model="form.amount"></v-input>
    </div>
    <v-upload :imagelist="form.image" :filelist="form.file"></v-upload>
    <div class="btn" @click="submit">提交</div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js" id="entry" data-path="M/Process/doneConfirm.js"></script>
<style>
  #page {
    padding-top: 7rem;
    padding-bottom: 60px;
  }

  .weui-cells {
    margin-top: 1rem;
  }
</style>

</html>