<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>

<body>
  <div id="page">
    <v-header title="处理意见" back></v-header>
    <div class="weui-cells">
      <v-textarea label="*意见" v-model="opinion"></v-textarea>
    </div>
    <div class="weui-cells" v-show="param.agree">
      <div class="weui-cell weui-cell_access" @click="select">
        <div class="weui-cell__bd">
          <div>*选择变更申报发起人</div>
        </div>
        <div class="weui-cell__ft">{{sender.realname}}</div>
      </div>
      <!-- <v-select label="*选择变更申报发起人" :options="submiter_list"
        v-model="submiter"></v-select> -->
    </div>
    <v-upload :filelist="filelist" :imagelist="imagelist"></v-upload>
    <div class="btn" @click="submit">提交</div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js"
  id="entry" data-path="M/Process/opinion.js"></script>
<style>
  #page {
    padding-top: 7rem;
    padding-bottom: 60px;
  }

  .weui-cells {
    margin-top: 1rem;
  }

  .weui-cell_select .weui-cell__hd .weui-label {
    width: 20rem;
  }

  .btn {
    margin-top: 5rem;
  }
</style>

</html>