<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui/aui-flex.css" />
  <link rel="stylesheet" type="text/css" href="../../css/weui.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/common.css" />
  <style>
    #page {
      padding-top: 7rem;
      padding-bottom: 60px;
    }
  
    .weui-cells {
      margin-top: 1rem;
    }
  
    .weui-cells:first-child {
      margin-top: 0;
    }
  </style>
</head>

<body>
  <div id="page">
    <v-header title="指令单" back></v-header>
    <div class="content">
      <v-info :list="change_list"></v-info>
      <div class="weui-cells">
        <v-subform title="指令下发对象" :child-form="childForm"
          add-content="增加指令下发对象" @add="addForm" minlength="1"></v-subform>
      </div>
      <div class="weui-cells">
        <v-input label="*费用承担单位" v-model="company"></v-input>
        <v-select label="*费用归属" :options="fee_belong_list"
          v-model="fee_belong"></v-select>
        <v-select label="*变更影响" :options="change_effect_list"
          v-model="change_effect"></v-select>
        <v-select label="*洽商类别" :options="discuss_list"
          v-model="discuss"></v-select>
      </div>
      <div class="weui-cells">
        <v-upload :filelist="filelist" :imagelist="imagelist"></v-upload>
      </div>
      <div class="btn" @click="submit">提交指令</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../script/response.js"></script>
<script type="text/javascript" src="../../script/dependence.js"></script>
<script type="text/javascript" src="../../script/entrance.js"
  id="entry" data-path="M/Process/order.js"></script>

</html>