.subform-content {
  flex: 1;
}

.subform-del-btn {
  width: 4rem;
  align-items: center;
  justify-content: center;
}

.subform-add-btn {
  background: #fff;
  height: 3.3rem;
  text-align: center;
  line-height: 3.3rem;
}

/* .subformComponent .quantity {
  display: flex;
} */

.subformComponent .quantity,
.subformComponent .unit {
  float: left;
  width: 50%;
}

.subformComponent .quantity .weui-label,
.subformComponent .unit .weui-label {
  width: auto;
  padding-right: 1rem;
}

.subformComponent .unit:before {
  display: block;
  left: 0;
}