<div class="subformComponent">
  <div class="weui-cells subform" v-for="(form, index) in childForm">
    <div class="pad-20 disp-flex">
      <div class="subform-content">
        <div>{{title}} {{index != 0 ? '('+index + ')' :
          ''}}</div>
        <div v-if="index == 0" class="fz-20 c-888">{{description}}</div>
      </div>
      <div class="subform-del-btn c-blue fz-25 disp-flex"
        @click="deleteSubformItem(index)" v-show="index >= minlength">删除</div>
    </div>
    <template v-for="(item,index1) in form">
      <v-text v-if="item.type=='text'" :label="item.label"
        :value="item.value"></v-text>
      <v-input v-if="item.type=='number'" :label="item.label"
        v-model="item.value" :disabled="item.disabled" type="number"
        @input="blur(index)"></v-input>
      <v-input v-if="item.type=='input'" :label="item.label"
        v-model="item.value" :disabled="item.disabled"></v-input>
      <v-select1 v-if="item.type=='select1'" :label="item.label"
        v-model="item.value" @select="select(index)"></v-select1>
      <v-date :label="item.label" v-model="item.value" v-if="item.type=='date'"></v-date>
      <v-input :type="item.value === '无'?'text':'number'"
        v-if="item.type=='check' && index < minlength"
        :label="item.label" v-model="item.value" :disabled="item.disabled"></v-input>
      <!-- 工程量/单价 -->
      <v-input type="number" :label="item.label" v-model="item.value"
        :disabled="item.disabled" v-if="item.type=='quantity'"
        class="quantity"></v-input>
      <v-input :label="item.label" v-model="item.value"
        :disabled="item.disabled" v-if="item.type=='unit'"
        class="unit"></v-input>
    </template>
    <!-- <div class="quantity" v-if="item.type=='quantity'">
        <div class="weui-cell" v-if="item.type=='quantity'">
          <div class="weui-cell__hd">
            <label class="weui-label">工程量</label>
          </div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="number" :disabled="item.disabled" v-model="item.value">
          </div>
        </div>
        <div class="weui-cell" v-if="item.type=='unit'">
          <div class="weui-cell__hd">
            <label class="weui-label">单位</label>
          </div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" :disabled="item.disabled" v-model="item.value">
          </div>
        </div>
      </div> -->
  </div>
  <div v-if="childForm.length < maxlength" class="subform-add-btn c-blue fz-26"
    @click="addSubformItem">{{addContent}}</div>
</div>