.mylist{
  background-color: #fff;
}
.mylist ul li {
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
}
.mylist ul li:first-child{
  border-top: 0;
}
.mylist ul li .li-hd {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  line-height: 2rem;
}
.mylist .li-hd .li-l {
  font-size: 1.6rem;
  
}
.mylist .li-hd .li-r {
  color: #a9a9a9;
  font-size: 1.2rem;
}
.mylist .li-bd {
  margin-top: 0.5rem;
  color: #888;
  font-size: 1.2rem;
  line-height: 1;
}
.mylist .li-bd .status{
  margin-right: 1rem;
}
.status1{
  color: #969696;
}
.status2{
  color: #33B2D5;
}
.status3{
  color: #33D5C8;
}
.status4{
  color: #D53333;
}