/*float*/

.clear {
  clear: both;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.disp-ib {
  display: inline-block;
}

.disp-flex {
  display: flex;
  display: -webkit-flex;
}

/*内边距*/

.pad-5 {
  padding: 0.25rem !important;
}

.pad-10 {
  padding: 0.5rem !important;
}

.pad-15 {
  padding: 0.75rem !important;
}

.pad-20 {
  padding: 1rem !important;
}

.pad-top-10 {
  padding-top: 0.5rem !important;
}

.pad-top-20 {
  padding-top: 1rem !important;
}

.pad-top-30 {
  padding-top: 1.5rem !important;
}

.pad-top-40 {
  padding-top: 2rem !important;
}

.pad-bottom-10 {
  padding-bottom: 0.5rem !important;
}

.pad-bottom-20 {
  padding-bottom: 1rem !important;
}

.pad-left-5 {
  padding-left: 0.25rem !important;
}

.pad-left-10 {
  padding-left: 0.5rem !important;
}

.pad-left-15 {
  padding-left: 0.75rem !important;
}

.pad-left-20 {
  padding-left: 1rem !important;
}

.pad-left-30 {
  padding-left: 1.5rem !important;
}

.pad-left-50 {
  padding-left: 2.5rem !important;
}

.pad-right-5 {
  padding-right: 0.25rem !important;
}

.pad-right-10 {
  padding-right: 0.5rem !important;
}

.pad-right-15 {
  padding-right: 0.75rem !important;
}

.pad-right-20 {
  padding-right: 1rem !important;
}

.pad-right-30 {
  padding-right: 1.5rem !important;
}

.pad-right-40 {
  padding-right: 2rem !important;
}

/*外边距*/

.margin-center {
  margin: 0 auto;
}

.margin-top-5 {
  margin-top: 0.25rem !important;
}

.margin-top-10 {
  margin-top: 0.5rem !important;
}

.margin-top-16 {
  margin-top: 0.8rem !important;
}

.margin-top-20 {
  margin-top: 1rem !important;
}

.margin-top-25 {
  margin-top: 1.25rem !important;
}

.margin-top-30 {
  margin-top: 1.5rem !important;
}

.margin-top-40 {
  margin-top: 2rem !important;
}

.margin-top-44 {
  margin-top: 2.2rem !important;
}

.margin-top-50 {
  margin-top: 2.5rem !important;
}

.margin-top-60 {
  margin-top: 3rem !important;
}

.margin-top-70 {
  margin-top: 3.5rem !important;
}

.margin-left-5 {
  margin-left: 0.4rem !important;
}

.margin-left-10 {
  margin-left: 0.5rem;
}

.margin-left-15 {
  margin-left: 0.75rem !important;
}

.margin-left-20 {
  margin-left: 1rem !important;
}

.margin-left-25 {
  margin-left: 1.25rem !important;
}

.margin-left-40 {
  margin-left: 2rem !important;
}

.margin-left-50 {
  margin-left: 2.5rem !important;
}

.margin-right-5 {
  margin-right: 0.25rem !important;
}

.margin-right-10 {
  margin-right: 0.5rem !important;
}

.margin-right-15 {
  margin-right: 0.75rem !important;
}

.margin-right-20 {
  margin-right: 1rem !important;
}

.margin-right-25 {
  margin-right: 1.25rem !important;
}

.margin-right-30 {
  margin-right: 1.5rem !important;
}

.margin-right-32 {
  margin-right: 1.6rem !important;
}

.margin-right-40 {
  margin-right: 2rem !important;
}

.margin-bottom-10 {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-20 {
  margin-bottom: 1rem !important;
}

.margin-bottom-30 {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-80 {
  margin-bottom: 4rem !important;
}

.margin-bottom-90 {
  margin-bottom: 4.5rem !important;
}

/*文字对齐*/

.tx-r {
  text-align: right;
}

.tx-l {
  text-align: left;
}

.tx-c {
  text-align: center;
}

/* 文字颜色 */

.c-666 {
  color: #666;
}

.c-white {
  color: #fff;
}

.c-b2 {
  color: #B2B2B2;
}

.c-333 {
  color: #333;
}

.c-d8 {
  color: #d8d8d8;
}

.c-666 {
  color: #666;
}

.c-888 {
  color: #888888;
}

.c-999 {
  color: #999;
}

.c-9b {
  color: #9b9b9b;
}

.c-97 {
  color: #979797;
}

.c-orange {
  color: #FFCC99
}

.c-green {
  color: #00CC99
}

.c-53 {
  color: #535353;
}

.c-record {
  color: #f5a623;
}

.c-red {
  color: #E82803;
}

.c-ccc {
  color: #ccc;
}

.c-blue {
  color: #33B2D5;
}

.c-deep-blue {
  color: #5876A6;
}

/* 背景颜色 */

.bg-white {
  background-color: #fff;
}

.bg-f8 {
  background-color: #f8f8f8;
}

.bg-ccc {
  background-color: #ccc;
}

/*浮动*/

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 高度 */

.h-22 {
  height: 1.1rem;
}

.h-24 {
  height: 1.2rem;
}

.h-28 {
  height: 1.4rem;
}

.h-30 {
  height: 1.5rem;
}

.h-32 {
  height: 1.6rem;
}

.h-40 {
  height: 2rem;
}

.h-44 {
  height: 2.2rem;
}

.h-48 {
  height: 2.4rem;
}

.h-60 {
  height: 3rem;
}

.h-80 {
  height: 4rem;
}

.h-88 {
  height: 4.4rem;
}

.h-100 {
  height: 5rem;
}

.h-150 {
  height: 7.5rem;
}

.h-160 {
  height: 8rem;
}

.h-200 {
  height: 10rem;
}

.h-100p {
  height: 100%;
}

/* 行高 */

.lh-22 {
  line-height: 1.1rem;
}

.lh-28 {
  line-height: 1.4rem;
}

.lh-30 {
  line-height: 1.5rem;
}

.lh-40 {
  line-height: 2rem;
}

.lh-44 {
  line-height: 2.2rem;
}

.lh-48 {
  line-height: 2.4rem;
}

.lh-60 {
  line-height: 3rem;
}

/* 宽度 */

.w-14 {
  width: 0.7rem;
}

.w-20 {
  width: 1rem;
}

.w-30 {
  width: 1.5rem;
}

.w-50 {
  width: 2.5rem;
}

.w-60 {
  width: 3rem;
}

.w-80 {
  width: 4rem;
}

.w-120 {
  width: 6rem;
}

.w-200 {
  width: 10rem;
}

.w-300 {
  width: 15rem;
}

.w-100p {
  width: 100%;
}

.fz-bold {
  font-weight: bold;
}

/*字号大小*/

.fz-12 {
  font-size: 0.6rem !important;
}

.fz-13 {
  font-size: 0.65rem !important;
}

.fz-14 {
  font-size: 0.7rem !important;
}

.fz-16 {
  font-size: 0.8rem !important;
}

.fz-17 {
  font-size: 0.85rem !important;
}

.fz-18 {
  font-size: 0.9rem !important;
}

.fz-20 {
  font-size: 1rem !important;
}

.fz-22 {
  font-size: 1.1rem !important;
}

.fz-24 {
  font-size: 1.2rem !important;
}

.fz-25 {
  font-size: 1.25rem !important;
}

.fz-28 {
  font-size: 1.4rem !important;
}

.fz-30 {
  font-size: 1.5rem !important;
}

.fz-32 {
  font-size: 1.6rem !important;
}

.fz-34 {
  font-size: 1.7rem !important;
}

.fz-36 {
  font-size: 1.8rem !important;
}

.fz-40 {
  font-size: 2rem !important;
}

.fz-48 {
  font-size: 2.4rem !important;
}

.fz-50 {
  font-size: 2.5rem !important;
}

.fz-60 {
  font-size: 3rem !important;
}

.fz-70 {
  font-size: 3.5rem !important;
}

.bor-b-e5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bor-t-e5 {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.bor-l-e5 {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.bor-r-e5 {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.bor-e5 {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.bor-f8 {
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.hide {
  display: none !important;
}

/* 定位类 */

.pos-fixed {
  position: fixed;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.text-elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.f-g-1 {
  flex-grow: 1;
}

.active-touch-item:active {
  background-color: #eee;
}

.search-bar {
  display: flex;
  display: -webkit-flex;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0.8rem 1.5rem;
  background: transparent;
}

.search-bar input {
  flex-grow: 1;
  height: 2.8rem;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  background: #fff;
  border-radius: 0.4rem;
}

.search-bar .search-icon {
  top: 1.2rem;
  left: 40%;
  color: #8F8F94;
  font-size: 1.4rem;
  position: absolute;
}

.search-bar input::-webkit-input-placeholder {
  color: #8F8F94;
  text-align: center;
}

[v-cloak] {
  display: none;
}

.aui-title {
  font-size: 1.7rem;
}

/* 按钮按下样式 */

.submitBtn:active {
  background-color: #e5e5e5;
}

/* 弹窗 */

.aui-mask {
  z-index: 888;
  background: rgba(0, 0, 0, 0.5);
}

.aui-mask .tips-box {
  width: 70%;
  height: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.aui-mask .tips-box .icon {
  width: 8rem;
  height: 8rem;
  margin: 2rem auto 0.5rem;
}

.aui-mask .tips-box .btn {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border-top: 1px solid #edecec;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5rem;
}

.aui-mask .tips-box .btn div {
  width: 50%;
  text-align: center;
  line-height: 5rem;
}

.aui-mask .tips-box .btn .line {
  width: 1px;
  height: 5rem;
  background-color: #edecec;
}

.aui-mask .tips-box .btn .confirm {
  color: #03a9f4;
}

.aui-mask .tips-box .btn .cancle {
  color: #666666;
}

#header {
  background-color: #33B2D5;
}

.aui-tab .aui-tab-item {
  position: relative;
  margin-left: 0;
  color: #b2b2b2;
  border-bottom: 1px solid #ccc;
  font-size: 1.6rem;
}

.aui-tab .aui-tab-item.aui-active {
  color: #33B2D5;
  border-bottom: 2px solid #33B2D5;
}

.aui-tab .aui-tab-item .aui-badge {
  top: 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 3.2rem;
  transform: scale(.5);
  -webkit-transform: scale(.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

.btn {
  width: 94%;
  height: 4rem;
  margin: 2rem auto 0;
  background-color: #33B2D5;
  color: #fff;
  border-radius: .5rem;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
}

.btn[disabled] {
  color: rgba(255, 255, 255, .3);
}

.btn1 {
  background-color: #fff;
  color: #000;
  border: 1px solid #d6d6d6;
}

.weui-cell {
  padding: 1rem;
}

.weui-cell input {
  height: 3rem;
}

.algin_self_start {
  align-self: self-start;
}

.weui-cells {
  margin-top: 0;
  font-size: 1.6rem;
}

.weui-picker__action {
  color: #33B2D5;
}

.weui-dialog__btn_primary {
  color: #33b2d5;
}

.myToast .weui-toast {
  top: 300px;
  width: auto;
  min-height: auto;
  margin-left: 0;
  padding: 1rem;
  transform: translateX(-50%);
}

.myToast .weui-toast i {
  display: none;
}

.myToast .weui-toast__content {
  margin: 0;
}

.weui-toast__content {
  color: #fff;
}
.weui-cell .weui-cell__bd,
.weui-cell .weui-cell__ft{
  word-break: break-all;
}