<div class="contract_list">
  <div class="contract_li" v-for="(item,index) in list" :key="index">
    <div class="contract_li-hd">
      <div class="li-l">合同名称：{{item.name}}</div>
    </div>
    <div class="contract_li-bd">
      <div class="sublist">
        <ul>
          <li v-for="(item1,index1) in item.sublist" :key="index1">
            <div class="subli">
              <div class="subli-hd">
                <div class="li-l">{{item1.name}}</div>
                <div class="li-r" v-show="item1.sublist.length" @click="toggle(index,index1)"><i class="aui-iconfont" :class="item1.expand?' aui-icon-down':' aui-icon-top'"></i></div>
              </div>
              <div class="subli-bd"><span class="status">{{item1.status}}</span>{{item1.no}}</div>
            </div>
            <div class="subli" v-for="(item2,index2) in item1.sublist" :key="index2" v-show="item1.expand" @click="clickli(index2)">
              <div class="subli-hd">
                <div class="li-l">{{item2.name}}</div>
                <div class="li-r">{{item2.date}}</div>
              </div>
              <div class="subli-bd"><span class="status">{{item2.status}}</span>{{item2.no}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>