#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#back {
  position: absolute;
  bottom: 0;
  left: 0;
}

.changeProject {
  position: absolute;
  bottom: 0;
  right: 1rem;
  height: 4.4rem;
  font-size: 1.5rem;
  line-height: 4.4rem;
}

.changeProject .aui-iconfont {
  margin-left: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
}

#header .btn_confirm {
  position: absolute;
  bottom: 0;
  right: 1rem;
  height: 4.4rem;
  color: #fff;
  font-size: 1.6rem;
  line-height: 4.4rem;
}