<div class="mylist">
  <ul>
    <li v-for="(item,index) in list" :key="index" @click="clickLi(item,index)">
      <div class="li-hd">
        <div class="li-l" :class="item.read?'c-999':''">{{item.name}}</div>
        <div class="li-r">{{item.date}}</div>
      </div>
      <div class="li-bd">
        <span class="status" :class="'status'+item.status" v-if="item.statusName">{{item.statusName}}</span>{{item.no}}
      </div>
    </li>
  </ul>
  <div class="noData" v-show="!list.length">暂无数据</div>
</div>