.weui-cells.form_info {
  margin-top: 1rem;
}

.form_info .weui-cell {
  flex-wrap: wrap;
}

.form_info .weui-cell .weui-cell__bd {
  color: #999;
  flex: 0 0 10rem;
  align-self: flex-start;
}

.form_info .weui-cell .weui-cell__ft {
  color: #333;
  flex: 1;
  text-align: left;
}

.form_info .form-title .weui-cell__bd {
  color: #333;
}

.form_info .form-title .weui-cell__ft {
  text-align: right;
}

.form_info .form-title .weui-cell__ft i {
  color: #b2b2b2;
  font-size: 1.4rem;
  font-weight: bold;
}

.form_info .form-content {
  border-top: 1px solid #e5e5e5;
}